<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AbcEmployeesSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="AbcEmployeesSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:12213/ABCEmployees.asmx"
                binding="basicHttpBinding" bindingConfiguration="AbcEmployeesSoap"
                contract="ServiceReference1.AbcEmployeesSoap" name="AbcEmployeesSoap" />
            <endpoint address="http://localhost:12213/ABCEmployees.asmx"
                binding="customBinding" bindingConfiguration="AbcEmployeesSoap12"
                contract="ServiceReference1.AbcEmployeesSoap" name="AbcEmployeesSoap12" />
        </client>
    </system.serviceModel>
</configuration>