<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ABCServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ABCServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1471/ABCService.asmx" binding="basicHttpBinding"
                bindingConfiguration="ABCServiceSoap" contract="ServiceReference1.ABCServiceSoap"
                name="ABCServiceSoap" />
            <endpoint address="http://localhost:1471/ABCService.asmx" binding="customBinding"
                bindingConfiguration="ABCServiceSoap12" contract="ServiceReference1.ABCServiceSoap"
                name="ABCServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>